
<section class="container">
    <div class="normal">


        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1436254555865">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="wpb_revslider_element wpb_content_element">
                            <link href="http://fonts.googleapis.com/css?family=PT+Sans:400%7CMontserrat:400%2C500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
                            <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery" style="background:#E9E9E9;padding:0px;">
                                <!-- START REVOLUTION SLIDER 5.4.6.4 fullscreen mode -->
                                <div id="rev_slider_2_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.6.4">
                                    <ul>

                                        <li @*data-index="rs-4"
                                            data-transition="slideright"
                                            data-slotamount="7"
                                            data-hideafterloop="0"
                                            data-hideslideonmobile="off"
                                            data-easein="default"
                                            data-easeout="default"
                                            data-masterspeed="400"
                                            data-thumb="~/assets/wp-content/uploads/2015/03/fullscreen3-100x50.jpg"
                                            data-rotate="0"
                                            data-saveperformance="off"
                                            data-title="TILING WORK "
                                            data-param1=""
                                            data-param2=""
                                            data-param3=""
                                            data-param4=""
                                            data-param5=""
                                            data-param6=""
                                            data-param7=""
                                            data-param8=""
                                            data-param9=""
                                            data-param10=""
                                            data-description="">*@
                                            <!-- MAIN IMAGE -->
                                            <img src="~/assets/wp-content/uploads/2015/03/fullscreen3.jpg"
                                                 alt=""
                                                 title="fullscreen3"
                                                 width="1920"
                                                 height="1200"
                                                 data-bgposition="center top"
                                                 data-bgfit="cover"
                                                 data-bgrepeat="no-repeat"
                                                 data-bgparallax="1"
                                                 class="rev-slidebg"
                                                 data-no-retina />
                                            <!-- LAYERS -->
                                            <!-- LAYER NR. 5 -->
                                            @*LAYER NR. 6*@

                                            <div class="tp-caption content-slider-text tp-resizeme"
                                                 id="slide-4-layer-2"
                                                 data-x="['left','left','left','left']"
                                                 data-hoffset="['25','26','26','26']"
                                                 data-y="['top','top','top','top']"
                                                 data-voffset="['200','200','200','200']"
                                                 data-width="1100px"
                                                 data-height="none"
                                                 data-whitespace="nowrap"
                                                 data-type="text"
                                                 data-responsive_offset="on"
                                                 data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},
                                             {"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                                 data-textAlign="['left','left','left','left']"
                                                 data-paddingtop="[0,0,0,0]"
                                                 data-paddingright="[0,0,0,0]"
                                                 data-paddingbottom="[0,0,0,0]"
                                                 data-paddingleft="[0,0,0,0]"
                                                 style="z-index: 10; white-space: nowrap; font-weight: 400; color: rgba(255, 255, 255, 1);">
                                                Ideal theme for any construction business you<br />
                                                needIdeal theme for any construction business you needIdeal theme for any construction business you needIdeal theme for any construction business you needIdeal theme for any construction business you needIdeal theme for any
                                                construction business you needIdeal theme for any construction business you needIdeal theme for any construction business you needIdeal theme for any construction <br />
                                                business you needIdeal theme for any construction business you needIdeal<br />
                                                theme for any construction business you needIdeal theme for any construction business you needIdeal theme for any construction business you needIdeal theme for any construction business you need
                                            </div>
                                            @*LAYER NR. 7*@ @*
            <div
                class="tp-caption slider-title tp-resizeme"
                id="slide-4-layer-4"
                data-x="['left','left','left','left']"
                data-hoffset="['27','26','26','26']"
                data-y="['top','top','top','top']"
                data-voffset="['322','256','256','212']"
                data-lineheight="['','','','46']"
                data-width="['none','none','none','367']"
                data-height="none"
                data-whitespace="['nowrap','nowrap','nowrap','normal']"
                data-type="text"
                data-responsive_offset="on"
                data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="z-index: 11; white-space: nowrap; line-height: px; font-weight: 400; color: rgba(255, 255, 255, 1);"
            >
                Construction at its Best fnjfj rjfff dfrfrfr dfg gggr g g d gr g rg r grrf f frfrf g ddd f rfr ff df f ftg g gtg de dd cc fff rf g ff rf g f e e f f e rg r f f e f effefefeded
            </div>
                                            *@
                                        </li>


                                    </ul>
                                  
                                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                                </div>
                                <script type="text/javascript">
setREVStartSize({c: jQuery('#rev_slider_2_1'), responsiveLevels: [1240,1024,778,480], gridwidth: [1170,1024,778,480], gridheight: [700,550,600,600], sliderLayout: 'fullscreen', fullScreenAutoWidth:'off', fullScreenAlignForce:'off', fullScreenOffsetContainer:'', fullScreenOffset:''});

var revapi2,
	tpj=jQuery;
tpj.noConflict();
tpj(document).ready(function() {
	if(tpj("#rev_slider_2_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_2_1");
	}else{
		revapi2 = tpj("#rev_slider_2_1").show().revolution({
			sliderType:"standard",
			jsFileLocation:"//anpsthemes.com/constructo-new-demos/4/wp-content/plugins/revslider/public/assets/js/",
			sliderLayout:"fullscreen",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"off",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
				onHoverStop:"on",
				touch:{
					touchenabled:"on",
					touchOnDesktop:"off",
					swipe_threshold: 75,
					swipe_min_touches: 1,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style:"hermes",
					enable:true,
					hide_onmobile:true,
					hide_under:500,
					hide_onleave:false,
					tmp:'',
					left: {
						h_align:"left",
						v_align:"center",
						h_offset:0,
						v_offset:0
					},
					right: {
						h_align:"right",
						v_align:"center",
						h_offset:0,
						v_offset:0
					}
				}
			},
			responsiveLevels:[1240,1024,778,480],
			visibilityLevels:[1240,1024,778,480],
			gridwidth:[1170,1024,778,480],
			gridheight:[700,550,600,600],
			lazyType:"none",
			parallax: {
				type:"scroll",
				origo:"enterpoint",
				speed:400,
				speedbg:0,
				speedls:0,
				levels:[5,10,15,20,25,30,35,40,45,50,47,48,49,50,51,55],
				disable_onmobile:"on"
			},
			shadow:0,
			spinner:"spinner0",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			fullScreenAutoWidth:"off",
			fullScreenAlignForce:"off",
			fullScreenOffsetContainer: "",
			fullScreenOffset: "",
			disableProgressBar:"on",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}

});	/*ready*/
                                </script>
                              
                            </div><!-- END REVOLUTION SLIDER -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="vc_row-full-width vc_clearfix"></div>


       
    </div>
   
</section>