<section class="container portfolio-single">
    <div class="row">
        <div class="page-heading" style="background-image: url(../../../../constructo/wp-content/uploads/2014/12/page-heading21.jpg);">
            <div class="container">
                
            </div>
        </div>

        <div class="col-md-8">
            <div class="gallery">
                <div class="gallery-inner">
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house3.jpg"><img alt="house3" src="../../wp-content/uploads/2014/11/house3.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house2.jpg"><img alt="house2" src="../../wp-content/uploads/2014/11/house2.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                    </div>
                    <div class="item">
                        <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                        <div class="item">
                            <a rel="lightbox" href="../../wp-content/uploads/2014/11/house4.jpg"><img alt="house4" src="../../wp-content/uploads/2014/11/house4.jpg" /></a>
                        </div>
                       

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="vc_row wpb_row vc_row-fluid vc_custom_1418650600843">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <h5 class="heading-content style-1"><span>PROJECT DESCRIPTION</span></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element">
                                <div class="wpb_wrapper">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit convallis facilisis. Fusce lectus ex, pretium efficitur suscipit sed, faucibus vel elit. Sed eu vestibulum leo. Phasellus at
                                        quam id elit hendrerit semper feugiat id nunc. Morbi quis justo velit. Duis semper lacus scelerisque, aliquam leo quis, porttitor leo. Etiam lobortis dapibus libero vel porttitor. Nulla tempor elit
                                        nec feugiat tempus.
                                    </p>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
