<section class="container">
    <div class="normal">
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1425021256971">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="page-heading " style="background-image: url(~/assets/wp-content/uploads/2014/12/page-heading21.jpg);">
                            <div class="container">
                            </div>
                        </div>
                        <ul style="display:flex;flex-direction:row;flex-wrap:wrap" class="portfolio isotope classic ">
                            <li class="isotope-item  ">
                                <article class="inner">
                                    <a class="item-hover" asp-contoller="project"asp-action="about">
                                        <div class="mask"></div>
                                        <div class="item-info">
                                            <div class="headline"><h2>Modern Building</h2></div>
                                        </div>
                                    </a>
                                    <div class="item-img">
                                        <img width="360"
                                             height="267"
                                             src="~/assets/wp-content/uploads/2014/12/2-360x267.jpg"
                                             class="attachment-post-thumb attachment-post-thumb size-post-thumb wp-post-image"
                                             alt=""
                                             srcset="~/assets/wp-content/uploads/2014/12/2-360x267.jpg 360w, ~/assets/wp-content/uploads/2014/12/2-500x371.jpg 500w"
                                             sizes="(max-width: 360px) 100vw, 360px" />
                                    </div>
                                </article>
                            </li>
                            <li class="isotope-item  ">
                                <article class="inner">
                                    <a class="item-hover" asp-contoller="project"asp-action="about">
                                        <div class="mask"></div>
                                        <div class="item-info">
                                            <div class="headline"><h2>Modern Building</h2></div>
                                        </div>
                                    </a>
                                    <div class="item-img">
                                        <img width="360"
                                             height="267"
                                             src="~/assets/wp-content/uploads/2014/12/2-360x267.jpg"
                                             class="attachment-post-thumb attachment-post-thumb size-post-thumb wp-post-image"
                                             alt=""
                                             srcset="~/assets/wp-content/uploads/2014/12/2-360x267.jpg 360w, ~/assets/wp-content/uploads/2014/12/2-500x371.jpg 500w"
                                             sizes="(max-width: 360px) 100vw, 360px" />
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
